div.art {
    background-color: var(--PrimaryColors);
    width: calc(50% - 3em);
    min-height: calc(100dvh - 3em);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1.5em;
}

div.art.dir-left {
    position: absolute;
    align-items: end;
    left: 0;
}

div.art.dir-right {
    position: absolute;
    align-items: center;
    right: 0;
}

div.art span,
div.art .frases,
div.art h1 {
    color: var(--BackColor);
    width: 100%
}

div.art.dir-left img {
    width: 21em;
}

div.art.dir-right img {
    min-width: 21em;
    width: 40vw;
}

.dir-left {
    position: absolute;
    left: 0;
}

.dir-right {
    position: absolute;
    right: 0;
}

@media (max-width: 765px) {
    div.art {
        display: none;
    }
}