button {
    padding: 10px 20px;
    border-radius: 12px;
    border: 0px;
    cursor: pointer;
}

button.camp {
    background-color: var(--PrimaryColors);
}

button.camp h1,
button.camp p {
    color: var(--ThemeColor);
}

button.camp:hover {
    background-color: var(--PrimaryColorsTheme);
}

button.redi {
    border: 2px solid var(--PrimaryColors);
    background-color: transparent;
    width: 40%;
}

button.redi:hover {
    background-color: var(--PrimaryColors);
}

button.redi:hover h1 {
    color: var(--ThemeColor);
}