button {
    padding: 10px 20px;
    border-radius: 12px;
    border: 0px;
    cursor: pointer;
}

button.camp,
form button.submit {
    background-color: var(--PrimaryColors);
}

button.camp h1,
button.camp p,
form button.submit {
    color: var(--ThemeColor);
}

button.camp:hover,
form button.submit:hover {
    background-color: var(--PrimaryColorsTheme);
}

button.camp.not {
    background-color: var(--NotPrimaryColors);
}

button.camp.not:hover {
    background-color: var(--NotPrimaryColorsTheme);
}

button.redi {
    border: 2px solid var(--PrimaryColors);
    background-color: transparent;
    width: 40%;
}

button.redi:hover {
    background-color: var(--PrimaryColors);
}

button.redi:hover h1 {
    color: var(--ThemeColor);
}

button.bar {
    display: flex;
    align-items: center;
    gap: 0.5em;
    padding: 0.5em 1em;
    width: 100%;
    background-color: transparent;
}

button.bar:hover {
    background-color: var(--PrimaryColorsBack);
}

button.bar.select {
    background-color: var(--PrimaryColors);
}

button.bar img{
    width: 2em;
}

button.bar p {
    margin-top: 0.25em;
    color: var(--PrimaryColorsTheme);
    font-family: "Amiko-Bold";
}