main {
    background-color: var(--PrimaryColorsBack);
    margin-top: 5em;
    width: calc(100% - 2em);
    min-height: calc(100dvh - (5em + 2em));
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

main .camp-clinic {
    background-color: var(--ThemeColor);
    max-width: 100%;
    border: 2px solid var(--LineColor);
    border-radius: 12px;
}

main .camp-clinic.camp-list {
    padding: 1em;
}

main .camp-clinic.camp-register {
    padding: 1.5em;
}

main.register {
    width: calc(100% - 8em);
    min-height: calc(100dvh - (5em + 4em));
    padding: 2em 4em;
}

a {
    color: var(--TextColor75);
    cursor: pointer;
    text-decoration: none;
}

@media (max-width: 765px) {
    main.register {
        width: calc(100% - 2em);
        min-height: calc(100dvh - (5em + 4em));
        padding: 2em 1em;
    }

    main .camp-clinic.camp-register {
        padding: 1em;
    }
}