footer {
    background-color: var(--PrimaryColorsE);
    padding: 1em;
    width: calc(100% - 2em);
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

footer #logo {
    font-size: calc(var(--H1Text) + 10px);
    color: var(--ThemeColor);
}

footer label,
footer p {
    color: var(--ThemeColor);
}

footer #title {
    margin-bottom: 1em;
}

footer .bottom {
    display: flex;
    flex-direction: column;
    text-align: center;
}

footer .medio {
    display: flex;
}


footer .medio div {
    width: 100%;
}

@media (max-width: 765px) {
    footer .medio {
        flex-direction: column;
        gap: 1em;
    }
}