/* IMPORTING FONTS */
@font-face {
    font-family: "Amiko-Bold";
    src: url("../assets/font/Amiko-Bold.ttf") format("truetype");
}
@font-face {
    font-family: "Amiko-Regular";
    src: url("../assets/font/Amiko-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "Amiko-SemiBold";
    src: url("../assets/font/Amiko-SemiBold.ttf") format("truetype");
}

/* GLOBAL VARIABLES */
:root {
    --SpanText: 31px;
    --H1Text: 20px;
    --PText: 14px;
    --LabelText: 10px;

    --ThemeColor: #FFFFFF;
    --BackColor: #F7F7F7;
    --TextColor: #000000;
    --TextColor75: #000000bf;
    --LineColor: #999999;

    --PrimaryColors: #458EE5;
    --PrimaryColorsTheme: #143966;
    --PrimaryColorsBack: #BED4EE;

    --NotPrimaryColors: #C22626;
    --NotPrimaryColorsTheme: #661414;
}

.owner {
    --PrimaryColors: #C29926;
    --PrimaryColorsTheme: #664C14;
    --PrimaryColorsBack: #E5D9B8;
}

/* BODY STYLING */
body {
    background-color: var(--ColorTheme);
    font-family: "Amiko-Regular";
    margin: 0;
    background-color: var(--ThemeColor);
}

/* TEXT STYLING */
span {
    font-size: var(--SpanText);
    font-family: "Amiko-Bold";
}

h1 {
    font-size: var(--H1Text);
    font-family: "Amiko-SemiBold";
    margin: 0;
}

p,
a {
    font-size: var(--PText);
    margin: 0;
}

label {
    font-size: var(--LabelText);
}

.text75 {
    color: var(--TextColor75)
}