input {
    padding: 10px 14px;
    border-radius: 12px;
    border: 1.5px solid var(--LineColor);
    font-family: var(--font-primary);
    background-color: var(--ThemeColor);
    color: var(--TextColor);
    transition: border-color 0.2s;
}

select {
    padding: 10px 14px;
    border-radius: 6px;
    border: 1.5px solid var(--LineColor);
    font-family: var(--font-primary);
    background-color: var(--ThemeColor);
    color: var(--TextColor);
}