section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--ThemeColor);
    padding: 1em;
    width: calc(100% - 2em);
    border-bottom: 2px solid var(--LineColor);
    position: fixed;
    top: 0;
}

section div {
    display: flex;
    gap: 1em;
}

section #logo {
    font-size: calc(var(--H1Text) + 10px);
    color: var(--PrimaryColors);
}

@media (max-width: 765px) {
    .out {
        display: none;
    }
}