div.start {
    background-color: var(-BackColor);
    height: 100dvh;
    align-content: center;
    justify-items: center;
}

div.start div.centralize {
    display: flex;
    flex-direction: column;
    width: 50%;
    text-align: center;
    row-gap: 1em;
}

div.start div.centralize a {
    color: var(--PrimaryColorsE);
}